body{
	background:radial-gradient(#eee, #fff);
}
/* ESTILO MENU */
.menu-content{
	display: flex;
	flex-wrap: wrap;
	justify-items: baseline;
	user-select: none;
}
.menu-item{
	padding: 2em 1em;
}
.link-menu{
	text-decoration: none;
	color: #000;
	font-family: Roboto,sans-serif;
	font-size: 1.4em;
	font-weight: 800;
	transition: color .5s, font-size .5s;
}
.link-menu:hover{
	color:#999;
	font-size: 1.6em;
}
.menu-icon{
	width: 60px;
	transition: scale .5s;
}
.menu-icon:hover{
	scale: 1.2;
}

/* ESTILO FORMULARIO */
.main{
	font-family: Lato,sans-serif;
	width: 100vw;
}
.main-form{
	display: flex;
	flex-wrap: wrap;
	padding: 25px 10px ;
	align-items: center;
	width: 100%;
	font-family:Lato, sans-serif ;
	flex: 1 1;
	user-select: none;
}
/* ESTILO AGREGAR INPUT */
.main-agregar{
	min-width: 600px;
	display: flex;
	border-radius: 20px;
	border:2px solid #000 ;
	background-color: #eee;
	flex: 1 1;
}
.icon-form{
	width: 30px;
	transition: scale .5s;
}
.icon-form:hover{
	scale: 1.2;
}
.producto{
	width: 100%;
	border-style: none;
	outline: none;
	font-size: 1.2em;
	background-color: #eee;
}
.btn-agregar{
	outline: none;
	border:1px solid #000 ;
	border-radius: 20px ;
	justify-self: flex-end;
	width: 85px;
	height: 34px;
	background-color: #eee;
	transition: background-color .5s;
	font-family: Roboto, sans-serif;
}
.btn-agregar:hover{
	background-color: #9f9;
}

/* ESTILO CHECK-BOX CATEGORIA */
.box-content{
	display: flex;
	flex-wrap: wrap;
	padding: 0 20px;
	flex:1 1;
}
.content-checkbox{
	padding: 0 15px;
	font-weight: 800;
}
.txt-check{
	margin-bottom: 10px;
	font-size: 1.1em;
	transition: scale .5s;
}
.txt-check:hover{
	scale: 1.2;
}
.check-box{
	margin-top: 5px;
	scale: 1.8;
	transition: scale .5s;
}
.check-box:hover{
	scale: 2.5;
}
/* ESTILO SELECT SUB-CATEGORIA */
.sub-cate-content{
	padding-top:15px ;
	border-radius: 10px;
	outline: none;
}
/* ESTILO PRECIOS  */
.precio{
	display: flex;
	flex-wrap: wrap;
	width: 270px;
	}
.lista, .contado{
	width: 125px;
	outline: none;
	border-radius: 10px;
	margin: 0 5px;
}
/*ESTILO LISTA DE PODUCTOS AGREGADOS*/
.productos{
	width: 99vw;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 25px 10px;
	border-bottom: 5px dashed #16d5;
	text-align: center;
	user-select: none;
}
.h2{
	flex-basis: 180px;
	transition: scale .5s;
}
.icon-confirm-all{
	height: 50px;
}
.h2:hover{
	scale: 1.2;
}
.elemento{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin:0 5px ;
	padding: 20px 10px;
	font-family: Lato, sans-serif;
	font-size: 1.3em;
	border-radius: 20px;
	border-bottom: 3px solid #0005;
	border-left: 3px solid #0005;
	user-select:true;
}
.articulo{
	padding:0 5px;
	flex:1 1;
}
.icon{
	height:35px;
	transition: scale .5s;
	padding:0 5px;
}
.icon:hover{
	scale: 1.3;
}
.art-text{
	min-width: 740px;
}